* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background: rgb(239, 221, 221);
    
}

.container{
    margin: 0 auto;                    /* agar kotak kontainer ini otomatis berada di TENGAH layar laptop */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
}

.logo-name{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.logo-name img{
    width: 50px;
}

nav{
    padding: 10px;

}

nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;

}

nav a{
    padding: 1em 1.5em;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.opening-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    height: 40vh;
}

.opening p{
    text-align: center;
}

.center-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;                       /* Memberikan jarak yang ada di dalam container ini */
    
}

.projects-container,
.experience-container,
.education-container{
    display: flex;
    flex-direction: column;
    flex: 1;                         /* Membuat ketiga kotak memiliki lebar yang SAMA RATA */
    padding: 10px;                   /* Memberi ruang napas di dalam kotak agar teks tidak mepet ke garis */
    background-color: white;
    border-radius: 1rem;
}

.projects-container ul{
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experience article{
    padding: 20px;
}

.experience article p{
    text-wrap: balance;
}

.education{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.education-container .education ul{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

footer{
    padding: 30px;
}

.bottom-container h2{
    padding-top: 20px;
    padding: 20px;

}

.bottom-container{
    background-color: white;
    border-radius: 2rem;
}

.card-container{
    display: flex;
    gap: 5%;
    padding: 20px;
    justify-content: center;
}

.card-container .card{
    display: flex;
    flex: 1;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgb(0, 0, 0.1);
    padding: 20px;
    
}

.card:hover{
    transition: all;
    transform: scale(1.1);
}


.nama{
    color: grey;
}

.wm{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 100px;
}

/* Projects Page */

.text{
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.projects-grid{
    display: flex;
    gap: 10px;
    justify-content:center;         /* 18-07-26*/
    flex-wrap:wrap;                 /* Mengubah display grid menjadi flex. Menambahkan justify-content dan flex-wrap */
}

.projects-grid p{
    padding: 20px;
    text-wrap: balance;
}

.projects-grid .project-card{
    display: grid;
    grid-template-rows: auto 1fr;
    border: 2px solid #ccc;
    border-radius: 1rem;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgb(0, 0, 0.1);
    width: 300px;
    margin: 20px;   
}
.project-card:hover{
    transition: all;
    transform: scale(1.1); 
}

.btn{
    color: white;
    background-color: rgb(54, 146, 222);
    border-radius: 1rem;
    border: 2px solid #000000;
    padding: 10px;
    margin-top: 20px;
}

.btn:hover{
    cursor:pointer;
    background-color:  rgb(23, 79, 125);
}

/* Articles Page */

.article-title{
    text-align: center;
    padding: 20px;
    text-wrap: balance;
}

.article-body{
    padding: 20px;
}

.article-body h2{
    padding: 20px;
    text-align: center;
    text-wrap: balance;
}

/* Contact Style */

.social-float-container{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-float{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.btn-float img{
    width: 32px;
    height: 32px;
}

.btn-float:hover{
    transform: scale(1.1);
}


/* Responsif Website */

/*--- CSS untuk layar handphone (Maksimal lebar 768px) ---*/
@media (max-width: 576px){

    /*mengubah navigasi agar menumpuk ke bawah */
    .center-container,
    nav,
    header,
    .projects-grid{
        flex-direction: column;
        align-items: center;
        gap: 15px; /* Memberi jarak antara logo dan menu */
    }
    
    /* Ubah section kartu review guru dari menyamping menjadi berbaris ke bawah */
    .card-container{
        flex-direction: column;   /* Memutar arah susunan kotak yang tadinya berjejer ke samping (row) menjadi berbaris ke bawah (seperti di layar HP) */
        gap: 25px;                /* Jarak antar kartu ulasan */
        width:100%;
        align-items: center;
    }
}
